* {
     box-sizing: border-box;
}

#root {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     background-color: lightblue;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     // overflow: hidden;
}

body {
     margin: 0;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
          'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
          sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     font-size: 18px;
     // width: 100%;
     // height: 100%;
     // position: fixed;
     // overflow: hidden;
     // overscroll-behavior-y: none;
}

code {
     font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.gen-cont{
     background: rgb(223, 223, 223);
     width: 100vw;
     display: grid;
     place-items: center;
}

// Home Styling
.home-cont{
     display: grid;
     place-items: center;
     grid-template-rows: 1fr 1fr;
     row-gap: 5vh;
     overflow-y: auto;
     // position: absolute;
     scroll-behavior: smooth;
     width: 100%;
     margin: 5vh 5%;
}
.home-sect{
     position: relative;
     display: grid;
     place-items: center;
     background: whitesmoke;
     height: 90vh;
     width: 90%;
}
.btn-cont{
     display: grid;
     place-items: center;
     grid-template-columns: repeat(3, 1fr);
     column-gap: 5rem;
}
.welcome-title{
     font-size: 3rem;
     text-align: center;
}
.op-btn{
     background: rgb(0, 217, 255);
     font-size: 1rem;
     border: none;
     width: fit-content;
     padding: 0.5rem 1rem;
     cursor: pointer;
}

// Confirm Pop Up
.pop-cont{
     display: none;
     position:absolute;
     top:0;
     left:0;
     // bottom:0;
     // right:0;
     height:100vh;
     width:100vw;
     z-index: 10;;
     background: rgba(0, 0, 0, 0.6);
}
.pop-cont.active{
     display: grid;
     place-items: center;
}
.pop-check{
     display: grid;
     place-items: center;
     background: white;
     border-radius: 10px;
     padding: 1rem;
     width: 80%;
     h2{
          margin: 0;
     }
}
.pop-opts{
     display: flex;
     justify-content: space-around;
     align-items: center;
     min-width: 15rem;
     // background: purple;
     div{
          padding: 0.5rem;
          margin: 0.5rem;
          cursor: pointer;
          transition: 0.5s;
     }
     .no{
          border: 2px solid rgb(0, 140, 255);
     }
     .no:hover{
          background: rgb(0, 140, 255);
          border-radius: 10px;
     }
     .yes{
          border: 2px solid rgb(255, 101, 101);
     }
     .yes:hover{
          background: rgb(255, 101, 101);
          border-radius: 10px;
     }
}