// -----Dashboard Styling-----
.dash-cont{
     display: grid;
     place-content: center;
     // grid-template-rows: 1fr 1fr;
     row-gap: 5vh;
     overflow-y: auto;
     width: 100vw;
     margin: 5vh 5%;
}
.dash-sect{
     position: relative;
     display: grid;
     place-items: center;
     background: whitesmoke;
     height: 90vh;
     width: 90vw;
}

.dash-title{
     font-size: 2.2rem;
}
.proj-tiles-cont{
     display: grid;
     align-items: center;
     place-items: center;
     // background: green;
     width: 100%;
     padding: 0 2%;
     grid-template-columns: repeat(3, 1fr);
     column-gap: 2%;
}
.proj-tile{
     display: grid;
     align-items: center;
     place-content: center;
     height: 30vh;
     width: 100%;
     text-decoration: none;
     cursor: pointer;
     // width: 30vw;
     // background: blue;
     background: white;
     grid-template-rows: 3fr 1fr;
     grid-template-columns: 1fr;
}
.proj-thumb{
     display: grid;
     // width: 30vw;
     width: 100%;
     height: 100%;
     // background: red;
     background: url(../images/Cross-section.png);
     background-size: cover;
     background-position: center;
}
.proj-title{
     display: grid;
     place-items: center;
     color: black;
     height: 100%;
     // background: orange;
}