.float {
  position: absolute;
}

.attr-cont {
  display: none;
  grid-template-rows: 8vh 48vh 8vh;
  row-gap: 1vh;
  background: rgba(255, 255, 255, 0.272);
  border-radius: 10px;
  width: auto;
  min-width: 15rem;
  top: 17vh;
  height: 66vh;
  right: 3vw;
}

.attr-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.6);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.attr-title {
  display: grid;
  place-items: center;
  text-decoration: underline;
}

.attr-exit {
  display: grid;
  place-items: center;
  background: peru;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.attr-menu {
  display: grid;
  position: relative;
  place-items: center;
  align-items: start;
  row-gap: 10px;
  width: auto;
}

.attr-li {
  display: grid;
  place-items: center;
  background: rgba(255, 255, 255, 0.4);
  width: 10rem;
  height: 5rem;
  transition: 0.5s;
  cursor: pointer;
}

.attr-li:hover {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  transition: 0.5s;
}

.attr-n {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  cursor: pointer;
}

.attr-t {
  display: grid;
  place-items: center;
  width: 70%;
  height: 70%;
  transition: 0.5s;
}

.attr-li.active {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 12rem;
  height: 48vh;
  transition: 0.5s;
}

.attr-li.inactive {
  display: none;
  transition: 0.5s;
}

.types-li {
  height: calc(100% - 1rem);
  width: 11rem;
  margin: 0.5rem;
  padding: 0.25rem;
  display: grid;
  align-items: center;
  place-content: center;
  grid-template-rows: repeat(6, 2fr);
}

.type-row {
  display: grid;
  place-content: center;
  height: 2rem;
}

.type-row.cancel {
  background: rgb(255, 202, 202);
  border-radius: 10px;
  width: 5rem;
  transition: 0.5s;
}

.type-row.cancel:hover {
  background: rgb(255, 103, 103);
  color: white;
  transition: 0.5s;
}

.color-li {
  height: calc(100% - 1rem);
  width: 11rem;
  margin: 0.5rem;
  padding: 0.25rem;
  display: grid;
  align-items: center;
  place-content: center;
  grid-template-rows: 1.3fr repeat(11, 1fr);
}

.color-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 10rem;
}

.color-t {
  height: 1.5rem;
}

.type-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.type-title {
  text-decoration: underline;
}

.cancel-row {
  text-align: center;
  height: 1.5rem;
  background: rgb(255, 202, 202);
  border-radius: 10px;
  width: 5rem;
  transition: 0.5s;
}

.cancel-row:hover {
  background: rgb(255, 103, 103);
  color: white;
  transition: 0.5s;
}

.texture-li {
  height: calc(100% - 1rem);
  width: 11rem;
  margin: 0.5rem;
  padding: 0.25rem;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr repeat(6, 2fr);
  row-gap: 0.5rem;
}

.texture-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  width: 10rem;
}

.texture-wood {
  height: 4rem;
  background: url(../images/wood.jpg);
  background-size: cover;
  background-position: center;
}

.texture-concrete {
  height: 4rem;
  background: url(../images/concrete_clean_0041_01_s.jpg);
  background-size: cover;
  background-position: center;
}

.texture-worn-wood {
  height: 4rem;
  background: url(../images/worn-wood.jpg);
  background-size: cover;
  background-position: center;
}

.texture-plywood {
  height: 4rem;
  background: url(../images/plywood.jpg);
  background-size: cover;
  background-position: center;
}

.texture-laminate {
  height: 4rem;
  background: url(../images/laminate.jpg);
  background-size: cover;
  background-position: center;
}

.texture-glass {
  height: 4rem;
  background: #add8e6;
  opacity: 50%;
}

.texture-black-glass {
  height: 4rem;
  background: #000000;
  opacity: 50%;
}

.texture-red-glass {
  height: 4rem;
  background: red;
  opacity: 50%;
}

.texture-orange-glass {
  height: 4rem;
  background: orange;
  opacity: 50%;
}

.attr-texture {
  background: url(../images/wood.jpg);
}

.pos-props {
  display: grid;
  place-content: center;
  width: 12rem;
  height: 35vh;
  grid-template-rows: 1fr 1fr;
  row-gap: 1vh;
  cursor: default;
  transition: 0.5s;
}

.pos-props.inactive {
  display: none;
  transition: 0.5s;
}

.props-head {
  background: none;
  text-align: center;
  text-decoration: underline;
}

.props-row {
  background: rgba(255, 255, 255, 0.5);
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.props-type {
  display: grid;
  place-content: center;
  align-items: center;
  text-decoration: underline;
}

.props-opts {
  display: grid;
  place-content: center;
  align-items: center;
  grid-auto-rows: 1fr;
}

.prop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  align-items: center;
  width: 10rem;
}

.attr-footer {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  background: rgba(255, 255, 255, 0.6);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.obj-remove {
  cursor: pointer;
  background: rgb(255, 152, 152);
  border-radius: 5px;
  height: 3rem;
  width: 3rem;
  transition: 0.5s;
}

.obj-remove:hover {
  background: rgb(255, 59, 59);
  border-radius: 10px;
  color: white;
  transition: 0.5s;
}/*# sourceMappingURL=obj.css.map */