$maincol1: red;

* {
     box-sizing: border-box;
}

#root {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     background-color: lightblue;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     // overflow: hidden;
}

body {
     margin: 0;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
          'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
          sans-serif;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     font-size: 18px;
     width: 100%;
     height: 100%;
     position: fixed;
     // overflow: hidden;
     // overscroll-behavior-y: none;
}

code {
     font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.gen-cont{
     background: rgb(223, 223, 223);
     // background: green;
     width: 100vw;
     height: 100vh;
     overflow: hidden;

     display: grid;
     place-items: center;
}

// Home Styling
.home-cont{
     display: grid;
     place-items: center;
     background: whitesmoke;
     height: 90%;
     width: 90%;
}
section{
     display: grid;
     place-items: center;
     grid-template-columns: 1fr 1fr;
     column-gap: 5rem;
}
.welcome-title{
     font-size: 3rem;
     text-align: center;
}
.enter-btn{
     background: yellow;
     font-size: 1rem;
     border: none;
     width: fit-content;
     padding: 0.5rem 1rem;
     cursor: pointer;
}
.auth-btn{
     background: rgb(0, 217, 255);
     font-size: 1rem;
     border: none;
     width: fit-content;
     padding: 0.5rem 1rem;
     cursor: pointer;
}

// Auth Pages Styling
form{
     margin-top: 1rem;
     min-width: 300px;
     padding: 1rem;
     padding-left: 1.5rem;
     background: rgba(173, 216, 230, 0.35);
     border-radius: 0.5rem;
}
input{
     margin-bottom: 1rem;
     width: 80%;
     padding: 4px;
     border-radius:3px;
     border: none;
     background: linear-gradient(to left,rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.7));
}
// button{
//      background: rgba(0, 255, 170, 0);
//      margin-left: 10%;
//      padding: 0.35rem;
//      border: none;
//      border-top: solid rgba(0, 255, 170, 0.637);
//      border-bottom: solid rgba(0, 255, 170, 0.637);
//      transition: 200ms;
//      cursor: pointer;
// }

// button:hover{
//      background: rgba(0, 255, 170, 0.637);
//      border-radius: 8px;
//      transition: 200ms;
// }


// 3D Canvas
.canvas{
     overflow: hidden;
     // background: rgb(199, 199, 199);
     // width: 100vw !important;
     // height: 100h !important;
}

.sr-cont{
     position: absolute;
     // background: red;
     top: 12%;
     margin: 0 calc(50% - 9.5rem);
     height: 3.5rem;
     width: 19rem;
     display: flex;
     justify-content: center;
     align-items: center;
}
.space-reminder{
     background: rgba(255, 255, 255, 0.5);
     height: 3.5rem;
     width: 19rem;
     border-radius: 3rem;
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.pointer{
     position: absolute;
     margin: 0;
     padding: 0;
     left: calc(50% - 15px);
     top: calc(50% - 15px);
     height: 30px;
     width: 30px;
     // max-height: 30px;
     // max-width: auto;
}
.pointer img{
     height: 35px;
     opacity: 0.4;
     width: auto;
}

// Navbar Styling
.top{
     position: fixed;
     // background: red;
     top: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
}
.navbar{
     background: white;
     margin-top: 2vh;
     margin-left: 2vw;
     width: 96vw;
     height: 8vh;
     border-radius: 4vh;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
}
.home-btn{
     background: none;
     font-size: 1rem;
     border: none;
     width: fit-content;
     padding: 0.5rem 1rem;
     cursor: pointer;
}
.proj-head{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.fa-times-circle{
	border-radius: 50%;
	font-size: 2rem;
	color: gray;
	cursor: pointer;
	transition: 0.3s ease;
}
.fa-times-circle:hover{
	color: $maincol1;
	transition: 0.3s ease;
}

.exham {
     margin: 2vh 50% 0;
     background: rgba(255, 255, 255, 0.272);
     border-radius: 10px;
     height: 4rem;
     width: 4rem;
     cursor: pointer;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 0.5s;
}

// .exham.active{
//      width: 10rem;
//      height: 10rem;
//      transition: 0.5s;
// }

.tripbar {
     width: 2rem;
     height: 1.5px;
     border-radius: 2px;
     background-color: white;
     transition: 0.5s;
     position: relative;
}

.tripbar:before, .tripbar:after {
     content: "";
     position: absolute;
     width: inherit;
     height: inherit;
     background-color: white;
     transition: 0.5s;
}

.tripbar:before {
     transform: translateY(-10px);
}

.tripbar:after {
     transform: translateY(10px);
}

.exham.active .tripbar {
     transform: rotate(360deg);
     background-color: transparent;
}

.exham.active .tripbar:before {
     transform: translateY(0) rotate(45deg);
}

.exham.active .tripbar:after {
     transform: translateY(0) rotate(-45deg);
}

// Switch Styling
.switch-cont {
     position: absolute;
     // background: red;
     bottom: 5%;
     margin: 0 calc(50% - 4.5rem);
     height: 3.5rem;
     width: 9rem;
     display: flex;
     justify-content: center;
     align-items: center;
}
.switch{
     background: rgba(255, 255, 255, 0.5);
     height: 3.5rem;
     width: 9rem;
     border-radius: 3rem;
     display: flex;
     justify-content: space-around;
     align-items: center;
}
.selector{
     margin: 0;
     background: white;
     height: 2.9rem;
     width: 8.4rem;
     border-radius: 3rem;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     transition: 0.5s;
}
#two-d:hover{
     background: rgb(118, 189, 243);
     height: 3.5rem;
     width: 9rem;
     transition: 0.5s;
}
#three-d:hover{
     background: rgb(231, 243, 118);
     height: 3.5rem;
     width: 9rem;
     transition: 0.5s;
}