// -----Dashboard Styling-----
.dash-gen-cont{
     background: rgb(223, 223, 223);
     width: 100vw;
     display: grid;
     place-items: center;
}
.dash-cont{
     display: grid;
     place-content: center;
     // grid-template-rows: 1fr 1fr;
     row-gap: 5vh;
     overflow-y: auto;
     width: 100vw;
     margin: 5vh 5%;
}
.dash-sect{
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: start;
     background: whitesmoke;
     // min-height: 90vh;
     height: 90vh;
     width: 90vw;
}
.dash-head{
     width: 80%;
     margin-top: 3rem;
     padding: 1rem;
     display: flex;
     flex-direction: column;
     align-items: center;
}
.dash-title{
     margin: 0;
     margin-bottom: 2rem;
     font-size: 2.2rem;
}

.dash-details{
     width: 100%;
     border-top: solid 2px black;
     // padding-top: 2rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
     // background: purple;
}
.dash-create-proj{
     padding: 0.25rem;
     display: grid;
     place-items: center;
     grid-template-columns: 1fr 0.25fr;
     column-gap: 0.25rem;
     margin: 0;
     color: rgb(0, 140, 255);
     border: 2px solid rgb(0, 140, 255);
     border-radius: 10px;
     cursor: pointer;
     transition: 0.5s;
     i{
          font-size: 2rem;
          transform: rotate(45deg);
     }
}
.dash-create-proj:hover{
     color: black;
     background: rgb(0, 140, 255);
     border-radius: 20px;
     i{
          font-size: 2rem;
          transform: rotate(45deg);
     }
}
.create-proj-title{
     margin-top: 1.5rem;
}
.create-proj-n{
     width: 60%;
     height: 1.5rem;
     font-size: 1.1rem;
     padding: 10px;
     color: rgb(52, 52, 52);
     border-radius: 10px;
     border: none;
     background: rgba(255, 255, 111, 0.8);
}
.create-proj-scale{
     background: rgba(255, 255, 111, 0.8);
     padding: 5px;
     border-radius: 10px;
     margin-bottom: 1.5rem;
}
input[name="m-scale"]:nth-of-type(1){
     margin-right: 2rem;
}
.create-proj-btn{
     padding: 0.5rem;
     margin: 0.5rem;
     cursor: pointer;
     border: 2px solid rgb(0, 140, 255);
     transition: 0.5s;
}
.create-proj-btn:hover{
     background: rgb(0, 140, 255);
     border-radius: 10px;
}

.proj-tiles-cont{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-around;
     // background: green;
     width: 100%;
     padding: 2rem 3rem;
}
.proj-tile{
     flex: 0 1 14rem;
     margin: 1rem;
     display: flex;
     justify-content: space-around;
     align-items: center;
     // min-width: 14rem;
     text-decoration: none;
     padding: 0.5rem;
     border-radius: 10px;
     background: rgb(255, 255, 111);
     // background: white;
     i:hover{
          color: rgb(0, 140, 255);
     }
}
.proj-tile-title{
     display: grid;
     place-items: center;
     color: black;
     text-decoration: none;
     height: 100%;
     padding: 0.5rem;
     // background: orange;
     cursor: pointer;
}
.proj-tile-open{
     display: grid;
     place-items: center;
     color: black;
     text-decoration: none;
     height: 100%;
     padding: 0.5rem;
     font-size: 1.3rem;
     transition: 0.5s;
     cursor: pointer;
}
.proj-tile-edit{
     display: grid;
     place-items: center;
     height: 100%;
     padding: 0.5rem;
     font-size: 1.5rem;
     transition: 0.5s;
     cursor: pointer;
}

.proj-window-cont{
     position: absolute;
     display: none;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     background: whitesmoke;
     // background: green;
     height: 90vh;
     width: 100%;
}
.proj-window-cont.active{
     display: flex;
}
.proj-window-header{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding: 0 1rem;
     height: 10%;
     width: 100%;
     background: rgb(255, 255, 255);
     
     .fa-times-circle{
     	border-radius: 50%;
     	font-size: 2rem;
     	color: gray;
     	cursor: pointer;
     	transition: 0.3s ease;
     }
     .fa-times-circle:hover{
     	color: red;
     	transition: 0.3s ease;
     }
}

.proj-controls{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding: 0.5rem;
     margin: 0.5rem;
     // border-radius: 20px;
     // height: 4rem;
     // width: 100%;
     width: 90%;
     // height: 25%;
     background: whitesmoke;
     // background: brown;
     color: gray;
     border-bottom: 1px solid gray;
}
.proj-open{
     text-decoration: none;
     color: rgb(0, 140, 255);
     border: 2px solid rgb(0, 140, 255);
     padding: 1rem;
     transition: 0.5s;
}
.proj-open:hover{
     color: black;
     background: rgb(0, 140, 255);
     border-radius: 2rem;
     transition: 0.5s;
}
.proj-manip{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     // background: purple;
     min-width: 5rem;
}
.proj-set{
     padding: 1rem;
     margin-right: 0.25rem;
     font-size: 1.5rem;
     border-radius: 10px;
     cursor: pointer;
     transition: 0.5s;
}
.proj-set:hover{
     color: rgb(0, 140, 255);
     background: rgba(0, 0, 0, 0.2);
     border-radius: 50%;
     transition: 0.5s;
}
.proj-set.active{
     color: rgb(0, 140, 255);
     transform: rotate(180deg);
}

.dash-set-cont{
     display: none;
     height: 1rem;
     width: 1rem;
     transition: 0.5s ease-in-out;
}
.dash-set-cont.active{
     display: grid;
     justify-items: center;
     align-items: start;
     grid-template-columns: 1fr;
     grid-auto-rows: 3rem;
     height: 15rem;
     // width: 15rem;
     width: auto;
     
     background: rgba(255, 255, 255, 0.85);
     left: calc(50% - 11rem);
     top: 25%;
     color: black;
}
.dash-set-close{
     // background: rgba(255, 255, 255, 0.75);
     background: rgba(0, 0, 0, 0.4);
     width: 100%;
     // height: 100%;
     height: 2rem;
     display: grid;
     // place-items: center;
     align-items: center;
     justify-items: end;
     padding: 0.25rem;

     i{
          color: rgb(255, 113, 113);
          font-size: 1.5rem;
          cursor: pointer;
          transition: 0.5s;
     }
     i:hover{
          color: red;
     }
}
.dash-settings{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     // height: 100%;
     // background: red;
     height: auto;
     div{
          margin: 0.3rem;
     }
}
.dash-scale{
     display: flex;
     justify-content: center;
     align-items: space-around;
     // background: rgba(255, 255, 255, 0.9);
     background: rgba(0, 0, 0, 0.4);
     border-radius: 2rem;
     transition: 0.5s;
     width: 11rem;
     padding: 0.33rem;
     transition: 0.5s;
     cursor: default;
}
.dash-set-n{
     display: grid;
     place-items: center;
     width: 50%;
     height: 2.5rem;
     margin: 0;
     transition: 0.5s;
     // background: purple;
}
.dash-metric{
     border-radius: 2rem;
     cursor: pointer;
}
.dash-metric.active{
     background: yellow;
     width: 70%;
}
.dash-imperial{
     border-radius: 2rem;
     cursor: pointer;
}
.dash-imperial.active{
     background: yellow;
     width: 70%;
}
.dash-proj-n-cont{
     display: grid;
     grid-template-columns: 1fr 1.2fr;
     place-items: center;
     column-gap: 1rem;
     // justify-content: center;
     // align-items: space-around;
     // background: rgba(255, 255, 255, 0.9);
     background: rgba(0, 0, 0, 0.4);
     border-radius: 2rem;
     transition: 0.5s;
     width: 18rem;
     padding: 0.5rem;
     transition: 0.5s;
     cursor: default;
}
.dash-proj-change-n{
     width: 100%;
     height: 1.5rem;
     font-size: 1.1rem;
     padding: 5px;
     color: rgb(52, 52, 52);
     border-radius: 10px;
     border: none;
     background: rgba(0, 140, 255, 0.8);
}
.dash-proj-n-sub{
     display: grid;
     grid-template-columns: 1fr;
     place-items: center;
     background: rgba(0, 140, 255, 0.8);
     border-radius: 10px;
     transition: 0.5s;
     padding: 0.5rem;
     transition: 0.5s;
     cursor: pointer;
}
.dash-proj-n-sub:hover{
     background: rgb(0, 140, 255);
     border-radius: 2rem;
}
.dash-disclaimer{
     padding: 0 1rem;
     color: orangered;
     font-size: 1rem;
}
.proj-del{
     padding: 1rem;
     margin-left: 0.25rem;
     font-size: 1.5rem;
     border-radius: 10px;
     cursor: pointer;
     transition: 0.5s;
}
.proj-del:hover{
     color: rgb(255, 0, 0);
     background: rgba(0, 0, 0, 0.2);
     border-radius: 50%;
     transition: 0.5s;
}
.proj-details{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     padding: 1rem;
     width: 100%;
     background: whitesmoke;
     // background: rgb(140, 255, 0);
}
.proj-areas{
     width: 100%;
     padding: 1rem;
     padding-top: 0;
     // background: magenta;
}
.proj-mat-menu{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     // width: 60%;
     min-width: 30rem;
     // background: maroon;
}
.mat-menu-body{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-template-rows: repeat(2,1fr);
     place-items: center;
     background: pink;
     width: 100%;
}
.mat-li{
     display: grid;
     grid-template-columns: 1fr 1.5fr;
     width: 100%;
     align-items: center;
     column-gap: 1rem;
     padding: 0.5rem;
     // background: orange;
}
